QMainWindow {
    background-color: rgb(40,40,40);
}

QPushButton#addIngredientButton {
    background-color: rgb(135,206,235);
    color: rgb(0,0,0);
    border: 2px solid rgb(0,0,0);
    border-radius: 20px;
    border-style: outset;
    padding: 5px;
}

QPushButton:pressed{
    background-color: rgb(255,255,255);
}

QLabel#ingredientLabel {
    color: rgb(255,255,255);
}