QMainWindow {
    background-color: rgb(40,40,40);
    border:none;
}

QTabWidget#navTab::tab {
    width: 1000px;
    border: none;
}

QTabWidget#navTab {
    background-color: rgb(40,40,40);
    border: none;
}