QFrame#RecipePage {
    background-color: transparent;
    color: rgb(40,40,40);
    border: none;
}

QTableWidget#recipeTable {
    background-color: rgb(40,40,40);
    color: rgb(255,255,255);
}

QTableCornerButton::section{
    background-color: rgb(40,40,40);
    color: rgb(255,255,255);
}

QHeaderView::section{
    background-color: rgb(40,40,40);
    color: rgb(255,255,255);
}

QLabel {
    color: rgb(220,220,220);
    font-size: 12px;
    font-family: "Segoe UI","Tahoma", "Geneva", "Verdana", "sans-serif";
}

QLabel#recipePageTitle {
    color: rgb(220,220,220); 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 32px; 
    font-weight: 600; 
    line-height: 48px; 
    text-transform: uppercase;
}

QProgressBar {
    border-radius: 10px;
    text-align:right;
    margin-right: 2em;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 14px; 
    font-weight: 400; 
}
QProgressBar::chunk {
    border-radius:10px;
}

QPushButton#loadFavRecipesButton{
    color: rgb(0,0,0);
    border-radius: 15px;
    border: 1px solid black;
    font-size: 18px;
    font-weight: bold;
    font-family: "Segoe UI","Tahoma", "Geneva", "Verdana", "sans-serif";
    padding: 14px;
    padding-right: 35px;
    padding-left: 35px;
}
QPushButton#loadFavRecipesButton:pressed{
    background: rgb(255,255,255);
    border-color: rgb(255,255,255);
}

QPushButton#favoriteRecipeButton {
    background-color: transparent;
}

QPushButton#favoriteRecipeButton:pressed {
    background-color: transparent;
}